/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 550px}
            
/* Set gray background color and 100% height */
.sidenav {
background-color: #f1f1f1;
height: 100%;
}
            
/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
.row.content {height: auto;} 
 }

 /* Remove the jumbotron's default bottom margin */ 
 .jumbotron {
  margin-bottom: 0;
  background-color: black;
  color: white;
  max-height: 100px;
text-align: center;
padding-top: 10px;
text-size-adjust: auto;
}

.input-group {
margin-right: 40px;
padding: 10px;
}


/*.glyphicon {
    color:white;
    background-color: blue;
}*/
